# Configurações de Segurança
SECRET_KEY=[1234567890]
TOKEN_LIFETIME_MINUTES=30

#Porta externa da api
PORT_API=[sua porta da api]
APP_NAME = Api Flas
APP_DEBUG = True 

# Configurações do Banco de Dados
DB_HOST=[seu servdor]
DB_USER=[seu usuario de banco]
DB_PASSWORD=[sua senha]
DB_NAME=[seu banco]

